body{
	font:16px/1.5 'PT Sans', sans-serif;
	margin:0;
	background-color:#000;
}

#container{
	width:1500px;
	margin: 0 auto;
}

/*Throughout all pages*/
main{
	background-color: white;
	margin:0;
}

header{
	background-image:url('../css/bg-image3.gif');
	background-repeat:no-repeat;
}

.page-title{
	font-size:50px;
	color:#fff;
	font-weight:lighter;
	width:600px;
	margin:430px 0px 0px 45px;
	text-shadow:2px 2px 2px #000;
	/*border:1px solid #f09;*/
}

.clearfix:before,
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}

#logo{
	position:absolute;
	display:inline;
	margin-left:40px;
	margin-top:20px;
}

header nav{
	position:relative;
	background-color: rgba(40,35,41,.8);
	padding: 5px;
}

nav ul{
	margin-left:300px;
	padding:20px;
}

header nav ul{
	width:1000px;
	display:inline-block;
}

nav li{
	width:150px;
	display:inline-block;
}

.con-nav{
	margin-left:-20px;
	margin-right:50px;
}


nav li a,
nav a{
	text-decoration: none;
	color:#c92c39;
	width:800px;
}

nav a{
	font-size:15px;
}

nav a:hover{
	color:#a0845e;
}

#social-media{
	float:right;
}

footer{
	color:#c92c39;
	background-color:#272229;
}

footer nav{
	width:280px;
	margin-bottom:15px;
	margin-top:-42px;
	margin-left:1233px;
}

footer #copyright{
	margin-left:30px;
}

.book a{
	padding:5px;
	border:5px solid #c92c39;
	font-weight:bold;
	width:400px;
}



/*Home*/
#search-bar{
	margin-top:190px;
	padding-bottom: 200px;
}

#countrySelection{
	width:500px;
	height: 40px;
	background-color: rgba(255,255,255,.4);
	color:#fff;
	font-size: 20px;
}

#search-button{
	width:100px;
	height: 39px;
	background-color: #c92c39;
	color:#fff;
	border-style: none;
	font-size:15px;
}

#title{
	text-align: center;
	font-size:30px;
	font-weight:normal;
	color:#fff;
	/*border:1px solid #f09;*/
}

#countrySelectionContainer{
	margin:0;
	padding:0;
	text-align: center;
	
}

#gallery h2{
	font-size:30px;
	margin:0;
	padding:0;
	color:#fff;
}

#gallery{
	border-top:10px solid #c92c39;
	padding:20px;
	background-color:#171821;
}

#gallery img{
	margin:35px;
}

.gallery-images:hover{
    -webkit-transform:scale(1.8);
    transform:scale(1.5);
}

.gallery-images{
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#facilities{
	border-top:10px solid #c92c39;
	margin-top:-10px;
	padding:25px;
}

#facilities p{
	margin-top:-14px;
	margin-left: 60px;
}

#facilities h2,
#savoy-intro h2{
	width:500px;
	font-size: 30px;
}

#facilities div{
	width:500px;
	float:left;
	padding:10px;
	/*border:1px solid #f09;*/
	height:90px;
	margin-left:50px;
}

#facilities #other-services{
	height:120px;
}

#facilities #fitness-center{
	height:100px;
}

#facilities .icon{
	float:left;
}

#facilities h3{
	margin-top:-2px;
	font-weight: lighter;
	width:200px;
	margin-left:60px;
}
#facilities div ul{
	margin-top: -14px;
}

#facilities div ul li{
	margin-left:20px;
	list-style: none;
}

#savoy-intro{
	margin:0;
	border-top:10px solid #c92c39;
	padding:25px;
	clear:both;
	color:rgba(255,255,255,.5);
	background-color: #171821;
	width:1450px;
}

#savoy-intro h2{
	color:#fff;
}

.home-paragraph{
	width:400px;
	margin:5px;
	padding:10px;
	float:left; 
}

#home-con{
	padding-left:15px;
	margin-left: 85px;
}

#home-rooms{
	margin-left: 50px;
}

/*ROOMS PAGE*/

.three-col h3,
.three-col-rooms h3{
	font-size:26px;
	font-weight:lighter;
	margin:7px 0px 7px 0px;
	padding:0;
	padding-top: 5px;
	margin-top:1px;
	border-top:12px solid #c92c39;
}

.three-col h3{
	width:450px;
	padding-bottom:10px;
	border-top:12px solid #c92c39;
}

#home-con a,
#home-rooms a,
.three-col-rooms a,
.three-col a{
	padding:8px;
	border: 3px solid #c92c39;
	color:#c92c39;
	text-decoration: none;
	font-weight:bold;	
}

#home-con a,
#home-rooms a,
.three-col-rooms a,
.three-col a{
	background-color: #c92c39;
	color:#171821;
	margin:10px;
}

.three-col-rooms a{
	background-color: #c92c39;
	color:#171821;
	margin:0;
}

#home-con a:hover,
#home-rooms a:hover,
.three-col a:hover,
.three-col-rooms a:hover{
	border: 3px solid #a0845e;
	color:#a0845e;
}

.article1,
.article2,
.article3{
	width:466.5px;
	float:left;
	background-color: #171821;
	color:#fff;
	padding:0px 14px 25px 20px;
	font-size: 12px;
}

.article1,
.article2{
	padding-left:15px;
	padding-right:18px;
}

.article1 h5,
.article2 h5,
.article3 h5{
	font-size:17px;
	font-weight:lighter;
	margin-top:5px;
	margin-bottom:0;
	padding:0;
}

.article1 p,
.article2 p,
.article3 p{
	font-size: 14px;
	margin-bottom: 40px;
	color:rgba(255,255,255,.6);
}

/*CONTACT PAGE*/
#contact{
	margin:30px;
	width:1500px;
	margin:20px;
	padding-bottom:20px;
}

#contact #south-america{
	margin-top:-300px;
}

#contact #oceania{
	margin-top:-100px;
}

#contact #middle-east{
	margin-top:-170px;
	margin-bottom:100px;
}

#contact div{
	width:520px;
	color:#171821;
	float:left;
}

#contact div h3{
	color:#181921;
}


#contact div li{
	color:#c92c39;
	list-style: none;
	margin-left:-40px;
}

/*BOOKING FORM*/

#form{
	margin-left: 300px;
}

#check-dates,
#customer-info{
	border-top:10px solid #c92c39;
	background-color:#171821;
	padding:25px;
	width:300px;
}

#customer-info{
	width:400px;
	margin-left: 400px;
	margin-top: -460px;
}

.form-title{
	color:#c92c39;
}

#booking-form label{
	display:inline-block;
	width:130px;
	font-size:15px;
}

#submit{
	font-size:16px;
	padding:10px;
	background-color: #c92c39;
	border-style: none;
	color:#fff;
	border-radius: 5px;
	margin:20px 0px 0px 250px;
}

#check-dates h3{
	font-size:20px;
}

#check-dates label{
	width:50px;
}

#room-selection{
	display:inline-block; 
	margin:5px;
}

#room-selection label{
	width:200px;
}

#people label{
	width:130px;
}

#checkbox label{
	margin-top:20px;
	width:200px;
}

#form label{
	color:#fff;
}

#form div{
	color:#c92c39;

}

#firstname,
#lastname,
#email,
#phone,
#adults,
#children,
#checkout-day,
#checkin-day,
#checkout-month,
#checkin-month,
#checkout-year,
#checkin-year{
	background-color: rgba(255,255,255,.4);
	border-style: none;
	padding:5px;
	width: 170px;
	margin:5px;
}

#adults,
#children,
#checkout-day,
#checkin-day,
#checkout-month,
#checkin-month,
#checkout-year,
#checkin-year{
	width:70px;
	color:rgba(255,255,255,.4);
}



#agree label{
	width:240px;
}

#agree-error,
#phone-error,
#email-error,
#adults-error,
#children-error,
#lastname-error,
#firstname-error{
	background-color: rgba(83,70,63,.5);
	width:200px;
}

#agree-error{
	width:150px;
}

#customer-info-con{
	width:500px;
	margin-left:900px;
	margin-top:-560px;
}

/*SITE MAP PAGE*/

#site-map{
	margin-left:20px;
}

#site-map-title{
	margin-bottom:-20px;
}

#site-map nav{
	background-color: #fff;
}

#rooms-navigation h3{
	padding-top: 25px;
	width:200px;
}


#site-map ul{
	width:400px;
	margin-top:-30px;
	margin-left: 0;
	margin-bottom: -5px;
}

#rooms-navigation a,
#conference-navigation a,
#contact-navigation a{
	text-decoration: none;
	color:#171821;
}

#site-map li{
	width:300px;
}

#site-map ul li a{
	color:#c92c39;
	text-decoration: none;
}

#site-map a:hover{
	color:#53463f;
}


/*SUCCESS PAGE*/

#success{
	padding:30px;
}

#success a{
	text-decoration: none;
	color:#c92c39;
}

#success a:hover{
	color:#53463f;
}

@media print{

footer,nav{
 	display:none;
}

.page-title{
	font-size:50px;
	color:#000;
	text-shadow:none;
	margin:0;
}

#contact h3,
#contact h2{
	font-size:20px;
	font-family:'PT Sans', sans-serif;
	font-weight:lighter;
}

#search-bar{
	display: none;
}

.article1 a,
.article2 a,
.article3 a{
	display:none;
}

}



























